img{
    width: 20%;
    border-radius: 5%;
}

h2{
    color: darkmagenta;
    padding: 10px;
    border-style: solid;
    border-color: antiquewhite;
    border-width:5px;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
}